<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   figurePrintLibrary.plist
   Position

   Created by mac on 2019/9/4.
   Copyright (c) 2019 Lxy. All rights reserved.
-->
<plist version="1.0">
 <array>
	<dict>
		<key>coordinate</key>
		<array>
			<string>1</string>
			<string>1</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-56.0218</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-60.9185</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-64.7507</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-51.6904</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-60.8462</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-63.2671</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-65.7256</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-66.3913</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-68.1596</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>1</string>
			<string>2</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-58.667</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-62.8383</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-66.7791</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-61.4624</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-59.5773</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-64.9343</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-66.2293</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-71.2034</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-66.4332</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>1</string>
			<string>3</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-57.7932</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-57.9959</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-62.5602</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-64.0116</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-58.0093</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-61.4016</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-64.9073</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-64.9533</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-67.4025</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>1</string>
			<string>4</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-66.5156</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-60.2615</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-59.9643</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-67.8255</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-62.719</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-59.1681</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-65.9109</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-64.9601</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-64.8848</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>1</string>
			<string>5</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-67.8912</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-60.8232</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-57.2338</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-66.2036</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-64.9136</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-59.4622</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-70.5272</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-66.9401</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-66.4093</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>2</string>
			<string>1</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-58.2424</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-64.0018</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-69.4862</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-54.3887</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-64.6129</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-69.7222</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-59.2937</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-61.7564</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-69.6249</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>2</string>
			<string>2</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-54.1124</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-59.8921</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-62.7214</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-61.9029</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-58.0963</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-66.6031</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-60.3549</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-65.3341</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-67.7348</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>2</string>
			<string>3</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-60.0414</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-56.3747</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-62.1487</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-64.9394</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-53.8172</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-66.9343</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-63.4477</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-66.3281</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-64.6148</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>2</string>
			<string>4</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-58.2335</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-52.1902</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-54.0321</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-67.4717</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-61.2984</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-60.8608</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-62.2952</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-63.2722</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-60.3432</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>2</string>
			<string>5</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-66.125</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-60.3656</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-51.2034</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-70.9671</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-62.0747</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-63.9567</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-70.4874</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-70.5001</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-63.364</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>3</string>
			<string>1</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-66.215</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-60.1704</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-69.0183</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-57.7549</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-67.0812</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-70.027</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-58.0273</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-57.8714</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-66.0967</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>3</string>
			<string>2</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-62.3951</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-60.3063</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-64.5034</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-59.9924</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-64.8701</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-68.4582</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-63.8692</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-58.7101</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-68.8309</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>3</string>
			<string>3</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-58.0087</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-60.1515</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-65.2593</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-60.1191</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-60.2608</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-62.5639</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-62.423</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-54.3346</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-61.7996</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>3</string>
			<string>4</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-60.0767</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-55.3484</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-55.4685</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-64.9946</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-51.5816</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-59.5918</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-59.1813</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-66.1009</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-55.1965</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>3</string>
			<string>5</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-68.056</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-62.6392</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-56.5064</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-70.8377</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-62.0727</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-54.4799</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-68.128</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-57.217</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-59.2158</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>4</string>
			<string>1</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-61.9473</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-58.6083</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-72.9245</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-58.8047</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-67.1585</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-67.5036</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-53.8369</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-58.3533</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-62.875</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>4</string>
			<string>2</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-65.0788</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-63.329</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-68.598</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-52.6292</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-59.539</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-66.9122</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-60.0098</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-59.7514</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-64.9828</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>4</string>
			<string>3</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-59.7829</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-66.8998</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-68.3517</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-65.281</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-60.9481</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-64.5696</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-61.1006</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-56.3465</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-62.9652</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>4</string>
			<string>4</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-60.4196</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-62.3708</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-61.31</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-64.4203</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-58.0998</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-52.6349</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-62.2375</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-59.7966</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-56.7717</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>4</string>
			<string>5</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-69.7517</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-69.034</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-58.5406</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-68.0142</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-60.0979</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-52.5007</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-68.0643</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-58.5285</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-54.5511</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>5</string>
			<string>1</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-65.2156</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-64.442</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-70.1988</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-58.266</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-65.2711</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-68.3593</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-49.8032</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-59.6612</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-63.8112</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>5</string>
			<string>2</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-63.4944</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-63.875</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-69.6589</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-67.7653</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-61.8707</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-67.4436</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-53.006</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-59.6211</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-60.3148</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>5</string>
			<string>3</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-59.3084</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-68.4107</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-63.7815</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-65.6031</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-64.7003</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-59.2098</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-54.8666</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-50.4896</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-57.4818</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>5</string>
			<string>4</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-56.8107</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-67.3283</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-64.9565</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-64.0492</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-61.9363</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-61.1967</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-62.1822</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-55.6377</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-56.9968</string>
		</dict>
	</dict>
	<dict>
		<key>coordinate</key>
		<array>
			<string>5</string>
			<string>5</string>
		</array>
		<key>s1</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>1</string>
			</array>
			<key>rssi</key>
			<string>-64.5515</string>
		</dict>
		<key>s2</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>2</string>
			</array>
			<key>rssi</key>
			<string>-68.5688</string>
		</dict>
		<key>s3</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>3</string>
			</array>
			<key>rssi</key>
			<string>-67.7544</string>
		</dict>
		<key>s4</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>4</string>
			</array>
			<key>rssi</key>
			<string>-65.8607</string>
		</dict>
		<key>s5</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>5</string>
			</array>
			<key>rssi</key>
			<string>-62.1327</string>
		</dict>
		<key>s6</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>6</string>
			</array>
			<key>rssi</key>
			<string>-54.6445</string>
		</dict>
		<key>s7</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>7</string>
			</array>
			<key>rssi</key>
			<string>-62.3175</string>
		</dict>
		<key>s8</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>8</string>
			</array>
			<key>rssi</key>
			<string>-63.3382</string>
		</dict>
		<key>s9</key>
		<dict>
			<key>majorAndMinor</key>
			<array>
				<string>1</string>
				<string>9</string>
			</array>
			<key>rssi</key>
			<string>-50.8547</string>
		</dict>
	</dict>
</array>
</plist>